body, html {
    height: 100%;
    font-family: 'Cardo', serif;
  }

#background { 
    background-image: url("../images/liam-macleod-1114704-unsplash.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

#game-box {
    background-color: white;
    position: absolute;
    top: 10%;
    right: 10%;
    left: 10%;
    margin: auto;
    width: auto;
    padding: 15px;
}

#title-card {
    text-align: center;
}

h1 {
    font-family: 'Bungee Shade', cursive;
}

#win-lose-pic {
    width: 50%;
    margin: 25px;
}

.question-card {
    padding: 20px;
}

#win-lose-pic {
    max-height: 350px;
    width: auto;
}